/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
.hero-bg-overlay {
	background-color: rgba(0,0,0,0.55)
}

.dark #header.full-header {
	border-bottom-color:rgba(0, 0, 0, 0);
}

.dark #header .transparent-header .full-header #logo {
	border-color: rgba(0, 0, 0, 0);
}